/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: 'Courier New', monospace;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #38bdf8;
    font-size: 2.5rem;
}

header p {
    color: #94a3b8;
}

/* Seções */
section {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #334155;
    transition: 0.3s;
}

section:hover {
    transform: scale(1.01);
    border-color: #38bdf8;
}

/* Títulos */
h2 {
    margin-bottom: 10px;
    color: #970cb6;
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #0f172a;
    color: #e2e8f0;
}

/* Inputs focados */
input:focus, select:focus, textarea:focus {
    border: 1px solid #38bdf8;
}

/* Botão */
button {
    background: #970cb6;
    color: #0f172a;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #970cb6;
    transform: scale(1.05);
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #334155;
}

th {
    background: #970cb6;
    color: #0f172a;
}

/* Links */
a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    color: #64748b;
}

/* Details (respostas) */
details {
    margin-top: 10px;
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
}

/* Imagem */
img {
    max-width: 150px;
    margin-top: 10px;
    border-radius: 8px;
}
/* Container do details */
details {
    margin-top: 10px;
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s ease;
}

/* Título clicável */
summary {
    cursor: pointer;
    font-weight: bold;
    color: #970cb6;
    transition: 0.3s;
}

summary:hover {
    color: #970cb6;
}

/* Remove setinha padrão (opcional) */
summary::-webkit-details-marker {
    display: none;
}

/* Conteúdo interno */
details[open] {
    animation: expandir 0.4s ease forwards;
}

/* Animação */
@keyframes expandir {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
ol {
    list-style: decimal;
    padding-left: 25px;
    color: #e2e8f0;
}

ol li {
    margin-bottom: 8px;
    background: #1e293b;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

ol li:hover {
    background: #334155;
}